.billingContainer {
  display: flex;

  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  font-family: var(--font-lato);
  font-weight: 900;
}
.billingContainer > .billing {
  display: flex;
  padding: 42px 30px;
  background-color: var(--clr-pink);
  gap: 20px;
  width: 30%;
  flex-direction: column;
}
.billingContainer .billDiv .billing {
  width: 60%;
}
.billingContainer .billing p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.billingContainer .billing p span {
  font-size: 24px;
}
.billingContainer .billing .divLine {
  width: 100%;
  height: 2px;
  background-color: hsla(0, 0%, 0%, 1);
}
/* PLACE ORDER STYLES */

.billDiv {
  width: 40%;
  display: flex;
}
.billDiv > div {
  display: flex;
  padding: 20px 30px;
  width: 100%;
  height: max-content;
  flex-direction: column;
  gap: 24px;
  background-color: var(--clr-pink);
}

.billDiv .billingOrder p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.billDiv .billingOrder p span {
  font-size: 24px;
}
.billDiv .billingOrder .divLine {
  width: 100%;
  height: 2px;
  background-color: hsla(0, 0%, 0%, 1);
}
